---
import SiteLayout from "../layouts/SiteLayout.astro";
const allProjects = await Astro.glob("./projects/*.md");
console.log(allProjects[0].frontmatter.image);
---

<SiteLayout title="Projects">
  <h1 class="text-xl font-semibold mb-4">My Projects</h1>
  {
    allProjects.map((project) => (
      <li class="p-4 rounded-lg list-none border-b hover:-translate-y-1 hover:shadow-md transition-all ">
        <a class="flex flex-col gap-2" href={project.url}>
          <img
            class="h-24 object-top object-cover rounded-md border p-0.5"
            src={project.frontmatter.image.url}
            alt={project.frontmatter.image.url}
          />
          <div class="flex flex-col py-2">
            <h2 class="text-lg font-semibold">{project.frontmatter.title}</h2>
            <p class="text-sm bg-fuchsia-100 w-fit">{project.frontmatter.description}</p>
          </div>
        </a>
      </li>
    ))
  }
</SiteLayout>
